@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

.status {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(12 16 30 / 84%);
    width: 100vw;
    z-index: 1;
    padding-left: 15px;
    display: flex;
    justify-content:  space-between;
}

.placeMin h2{
    background-image: linear-gradient(-225deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 24px;
    margin-right: 50px;
}

.place div{
    background-image: linear-gradient(-225deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 70px;
}


.place {
    position: fixed;
    top:20%;
    left:0;
    z-index: 5;
    width: 100vw;
    background-color:rgba(255, 255, 255, 0.668);
    display:flex;
    justify-content: center;
}

.win {
    position: fixed;
    top:20%;
    left:0;
    z-index: 5;
    width: 100vw;
    background-color:rgba(17, 17, 17, 0.94);
    text-align: center;
}

.win p {
    font-size: 40px;
}

.win h2 {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    font-size: 100px;

}

.win-red h2{
    background-color: var(--color-red);
}

.win-blue h2{
    background-color: var(--color-blue);
} 

.win-green h2{
    background-color: var(--color-green);
}

.noCoinsMessage {
    background-image: linear-gradient(-225deg, #fff800 0%, #73107a 29%, #ff1361 67%, #fff800 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 24px;
    margin-right: 50px;
    display: none
}